
.dandruff-causes-container {
    text-align: left;
    margin-top: 4%;
    margin-bottom: 0;
    padding: 5% 0 0 !important;
    display: inline-block;
  }
  .dandruff-causes-wrapper {
    width: 100%;
    max-width: initial !important;
    padding: 10px 7%;
    box-sizing: border-box;
  }
  .dandruff-content-wrapper {
    width: 100%;
    max-width: initial !important;
    padding: 10px 7%;
    box-sizing: border-box;
  }
  
  
  .dandruff-causes table tr:nth-child(1) {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    padding: 10px 0;
    text-align: left;
  }
  .dandruff-causes table tr:nth-child(2) {
    width: 75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    overflow: hidden;
  }
  

  .dandruff-causes-container h1 {
    color: #05054b;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    margin: 10px 0 25px;
    text-align: center;
  }
  .dandruff-causes-container h2 {
    color: #05054b;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    text-align: center;
  }

  .dandruff-causes p {
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
    margin: 5px 0;
  }

  .dandruff-causes ul {
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.5;
    padding-left: 15px;
    margin: 10px 0;
  }


  
 
  




  
  @media (max-width: 600px) { 
  
  
    .dandruff-causes   table {
      display: block;
    }
    .dandruff-causes  table tr:nth-child(1) {
      width: 100%;
    }
    .dandruff-causes  table tr:nth-child(2) {
      width: 100%;
    }
    .dandruff-causes  table tr:nth-child(1) tr td:nth-child(1) {
      width: 100%;
      padding: 0;
      display: block;
    }
    .dandruff-causes  table tr:nth-child(1) tr td:nth-child(2) {
      width: 100%;
      padding: 0;
      display: block;
    }
  
  }
  
  
  
  
  
  
  