
.symptoms-container {
  text-align: left;
  margin-bottom: 60px;
  padding: 10px 0 !important;
}
.symptoms-wrapper {
  width: 100%;
  max-width: initial !important;
  padding: 10px 7%;
  box-sizing: border-box;
}
.symptoms-container h2 {
  color: #283C58;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0 0 5%;
}
.symptoms-container p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #254D80;
}
.symptoms-container h4 {
  color: #F2000F;
  font-size: 21px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
  width: auto;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.symptoms-container p.button-container {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.symptoms-container a.button {
  border-style: solid;
  border: none;
  background-color: transparent;
  color: #254D80;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.symptoms > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.symptoms > ul > li {
  border: none;
  background-color: transparent;
  display: inline-block;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}

.symptoms .symptoms-card-body {
  margin: 0;
  padding: 16px;
  color: #003060;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  position: relative;
}

.symptoms .symptoms-card-image {
  line-height: 0;
}

.symptoms .symptoms-card-body h2 {
  margin-top: 0;
  color: #003060;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

.symptoms > ul > li img {
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}



@media (max-width: 1300px) {
}
@media (max-width: 900px) {
  .symptoms-container h2 {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .symptoms > ul > li { 
    width: 100%;
    display: inline-block;
    padding: 1%;
    box-sizing: border-box;
  }
}